@charset "utf-8";
/* all-state */
::selection {color: #fff;background-color:#3389d4;}   
::-moz-selection {color: #fff;background-color:#3389d4;}  
html {overflow-y:auto;}
body {margin:0; padding:0; font-size:12px; font-family:Meiryo;font-family: "微软雅黑", "宋体", arial, sans-serif;background-size:cover; height:100%; overflow-y:auto;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;border:0px;}
img{ border:none;}
li{list-style-type:none;}
ol,ul {list-style:none;}
h3,h4,h5,h6{font-size:14px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color:#3389d4;
}
.clear{
	clear:both;}
.f_left{
	float:left;}
.f_right{
	float:right;}
.auto{
	margin:0 auto;}
.w1000{
	width:1000px;}
.w1300{
	width:1300px;}
.eee{
	background:#eee;}
.w1_txt{
	height: 26px;
	font-size: 18px;
	width: 160px;
	padding-left: 4px;
	font-family: "微软雅黑", "宋体", arial, sans-serif;
	color: #3389D4;}
.ok_bar{
	width:280px;
	margin:0 auto;
	margin-top:40px;}
.pointer{
	cursor:pointer;}
.title_bg{
	background:#6B7B93 !important;
	color:#FFF !important;}
.mouse_hover:hover{
	background:#52ACB8 !important;
	color:#FFF !important;}
.kuang{
	margin-top:40px;
	margin-left:0px;}
.tips{
	margin-top:150px;
	margin-bottom:40px;
	background:#DDFFDE;
	padding:8px;
	float:left;
	color:#000;
	font-size:14px !important;
	border:2px solid #60BE8F;
	border-left:none;}
#calendarPanel{position:fixed;}
/*右键*/
.right_menu{
	position: absolute;
	z-index: 2000;
	display: none;
	width:100px;
	height:63px;
	background: #6B7B93;
	cursor: default;
}
.right_menu ul{
	border:1px solid #999;
}
.right_menu li{
	border-bottom: 1px solid #dedede;
	height:30px;
	line-height: 30px;
	color:#FFF;
	padding-left:10px;
}
.right_menu li:hover{
	background: #FFF;
	color:#000;
}
.readonly{
	background:#EEE;
	border:none;}
.readonly_btn{
	font-size: 14px;
	border:none;
	background:none;}
.btn_yes{
	width: 100px;
	height: 32px;
	border: 1px solid #E43838;
	background: #FF7E7E;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	color: #fff;
	word-spacing: 10px;}
.btn_yes:hover{
	border: 1px solid #E43838;
	background: #E43838;
	}
.btn_no{
	width: 100px;
	height: 32px;
	border:1px solid #069;
	background:#52ACB8;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	color: #fff;
	word-spacing: 10px;}
.btn_no:hover{
	background:#069;}
.btn_green,.btn_red,.btn_blue,.btn_gray{
	border-radius:3px;
	font-size:16px;
	font-family: "微软雅黑", "宋体", arial, sans-serif;
	text-align:center;
	cursor:pointer;
	width:66px !important;
	height:28px !important;
	line-height:28px;
	color:#FFF;}
.btn_gray{
	border:1px solid #6B7B93;
	background:#6B7B93;
}
.btn_green{
	border:1px solid #2B834A;
	background:#49BE73;}
.btn_red{
	border:1px solid #C23333;
	background:#E05C5C;}
.btn_blue{
	border:1px solid #069;
	background:#52ACB8;}
.btn_green:hover{
	background:#2B834A;}
.btn_gray:hover{
	border:1px solid #6B7B93;
	background:#FFF;
	color: #6B7B93;}
.btn_red:hover{
	background:#C23333;}
.btn_blue:hover{
	background:#069;}
.title_list{
	display:block;
	width:80px;
	float:left;}
.border_green{
	border-color: #8EECAF;
}
.border_blue{
	border-color:#6EE0EF;
}
.border_red{
	border-color:#FF9B9B;
}
/*消息框*/
.msg{
	width:300px;
	height:100px;
	line-height:100px;
	border:2px solid #C33;
	background:#F66;
	position:fixed;
	top:60px;
	margin-top:-50px;
	left:468px;
	margin-left:-150px;
	color:#FFF;
	display:none;
	z-index:10;}
.msg_fix{
	left:50%;
	top:200px;
	margin-left:-160px;}
.txt_msg{
	text-align:center;
	font-size:26px;
	}
.juhua{
	position:fixed;
	display:none;
	top:20%;
	left:50%;
	margin-left:-110px;
	background:url(../images/juhua.gif) no-repeat 2px;
	width:210px;
	z-index: 10000;
	height:20px;}
.ml10{
	margin-left: 10px;
}
.mr10{
	margin-right: 10px;
}
.mt10{
	margin-top: 10px;
}
.tagr{
	text-align: right;
}
.tagc{
	text-align: center;
}
/*-----------------------table-------------------------*/

.table_list{
	margin: 40px 0 0 40px;
	border-left: 1px solid #dedede;
	background:#FFF;
}
.table_list ul:hover{
	background: #F3FFD0 !important;
}
.table_list ul li{
	font-size: 13px;
	width:80px;
	height: 24px;
	line-height: 24px;
	float: left;
	padding:0 10px;
	border-bottom:1px solid #dedede;
	border-right: 1px solid #dedede;
}
.checkbox,.checkall{
	width: 14px;
	height: 27px;
	line-height: 24px;
}
.ms_li{
	width: 20px !important;
}
.title_table{
	background:#6B7B93 !important;
	color:#FFF !important;
}
.arrow_down,.arrow_up{
	width:20px !important;}
.text_num_input{
	width:30px !important;}
.table_block{
	width:80px;
	background: none;
	border:none;
	height: 24px;
	line-height: 24px;
	font-size: 12px;}
.order_box{
  line-height: 30px;
  height: 30px;
  float: right;
  font-size: 14px;
  color: #6B7B93;
}
/*----------------------inner_box--------------------*/
.inner_box{
	width:100%;
	height:100%;
	opacity:.4;
	border:1px solid #333;
	background:#6B7B93;
	display:none;
	position:fixed;
	top:0;
	left:0;}
.inner_alert{
	border-radius: 15px;
	display:none;
	color:#FFF;
	opacity:1.0;
	width:390px;
	height:222px;
	position:fixed;
	top:10%;
	left:50%;
	margin-left:-195px;
	background:#5F718B;
	border:2px solid #CDE8FF;}
.inner_close{
	background:url(../images/close.png) no-repeat;
	width:15px;
	height:15px;
	position:absolute; 
	right:14px; 
	top:14px; 
	cursor:pointer;
}
/*------------------------分页------------------------*/
#page_data{
	margin-top:50px;
	margin-left:50px;}
.page_bar{
	width:700px;
	margin-left:300px !important;
	margin-top:50px !important;}
.all_num{
	font-size:20px;
	margin-right:80px;}
#now_page{
	display:none;}
/*头,导航和登录*/
.toper{
	height:100px;
	background:rgba(255,255,255,.4);}
.toper_left{
	height:90px;
	margin-top:10px;}
.toper_right{
	height:90px;
	font-size:16px;}
.toper_title{
	font-size:26px;
	font-weight:bold;
	margin-top:35px;
	margin-left:20px;
	color:#333;}
.toper_name{
	margin-top:60px;
	margin-left:10px;
	}
.toper_id{
	margin-top:8px;
	}
.toper_out{
	margin-top:58px;
	margin-left:12px;
	background:url(../images/login_out.png) no-repeat;
	width:60px;
	height:26px;
	cursor:pointer;}
.toper_out:hover{
	margin-top:58px;
	margin-left:12px;
	background:url(../images/login_out_hover.png) no-repeat;
	width:60px;
	height:26px;}
.btn{
	cursor:default;
	color:#FFF;
	text-align:center;
	line-height:40px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	width:180px;
	height:40px;
	border:none;
	background:#3D3F42;
	float:left;
	border-left:1px solid #C2C2C2;}
.onbg_nav{
	background:#3389d4;}
.hover_nav{
	background:#6B7B93;}
.nav{
	width:1300px;
	height:40px;
	background:#3d3f42;
	}
.bg_nav{
	background:#3d3f42;
}
.footer{
	position:absolute;
	bottom: 2px;
}

.login_box{
	position:fixed;
	right:50%;
	bottom: 44%;
	margin-right:-140px;
}
.login_txt{
	color:#fff;
	font-size:14px; 
	width:26px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}
.login_input{
	width:160px;
	height:22px; 
	font-weight:bold;
	font-size:16px;
	color:#333;
	border: none;
	padding-left: 6px;
	background: #FFF;
}
.login_btn{
	width:61px;
	height:61px; 
	background:url('/images/login_go.png') no-repeat;
	cursor:pointer;
	border: none;
	margin-left: 10px;
}
.login_btn:hover{
	width:61px;
	height:61px; 
	cursor:pointer;
	background:url('/images/login_go.png') no-repeat;
	color:#FFF;
	border: none;
	margin-left: 10px;
}
/*---------------------------------show------------------------------------*/
.show_bg{
	background:#F7F7F7;
}
.show_box{
	margin:0 auto;
	width:1300px;
	height:800px;
	background:#FFF;
	border-bottom:1px solid #ccc;
	border-top:1px solid #c2c2c2;
}
.show_left{
	width:179px;
	height:800px;
	border:2px solid #6B7B93;
	border-right:1px solid #EEE;
	background:#6B7B93;
	border-bottom:none;
	border-top:none;
	color:#FFF;
	}
.show_right{
	border:1px solid #CCC;
	border-bottom:none;
	border-left:1px solid #EEE;
	border-top:none;}
#right_page,.show_right{
	width:1116px;
	height:800px;
	}
.leftbar li{
	font-size:15px;
	cursor:default;
	height:46px;
	line-height:46px;
	padding-left:30px;
	border-bottom:1px solid #c2c2c2;
	font-family:Verdana, Geneva, sans-serif;
	}
.leftbar_hover{
	background:#FFF;
	color:#000;}
.leftbar_checked{
	background: #EEEEEE;
	color: #2A65BD;
	font-weight:bold;}
/*修改账户*/
.change_me{
	width:366px;
	font-size:18px;
	margin-top:140px;}
.change_me li{
	height:36px;
	line-height:36px;}
.change_me div{
	float:left;
	width:100px;}
.change_me span{
	font-size: 12px;
	display:none;
	color: red;
	margin-left: 10px;}
/*新建&修改用户,用户组*/
.code{
	background:url(../images/code.png) no-repeat right;
	background-color:#FFF;}
#key_autosearch,#key_autosearch_1,#key_autosearch_2,#key_autosearch_3,#key_autosearch_4,#key_autosearch_5{
	position: absolute;
	width:298px !important;
	background: #FFF;
	top:29px;
	z-index: 10000;
	left:83px;
	border: 1px solid #a9a9a9;
	border-top:none;
	display:none;
}
.can_use{
	font-size: 12px !important;
	cursor: default;
	width:294px !important;
	border-top: 1px dashed #dedede;
	height: 30px;
	line-height: 26px;
	padding-left: 2px;
	background: #FFF;
}
.can_use:hover{
	background: #6B7B93;
	color:#FFF;
}
.autosearch{
	width:300px !important;
}
.autotype{
	width:100px !important;
}
.add_list{
	position: relative;
}
.add_user,.add_list{
	margin:40px 0 0 40px;}
.add_user li,.add_list li{
	float:left;
	font-size:16px;
	height:30px;
	line-height: 30px;
	padding-left: 4px;}
.add_user input,.add_list input{
	width:100px;}
.add_userkey,.add_listkey{
	height: 30px;
	font-size: 15px;
	padding-left: 8px;
	font-family: "微软雅黑", "宋体", arial, sans-serif;
	color: #3389D4;}
.add_listkey,.add_userkey,.input_key{
	border:1px solid #a9a9a9;
}
.add_userkey{
	height: 24px;
	font-size: 13px;
	margin-top: 8px !important;
}
.s_table{
	border-collapse:collapse;}
.s_table td{
	border:1px solid #ccc;
	font-size:14px;
	height: 28px;
	line-height: 28px;
	padding:0px 10px 0 10px;}
.user_list{
	margin:40px 0 0 50px;}
.change_userkey,.user_group{
	padding-left:4px;
	color:#3389D4;
	font-size:16px;
	height:28px;
	font-family: "微软雅黑", "宋体", arial, sans-serif;
	width:103px;
	line-height:28px;}
.user_group{
	width:80px;}
/*通用ul*/
.ul_list{
	margin:40px 0 0 50px;}
.ul_list li{
	height:30px;
	line-height:30px;
	font-size:16px;
	width:280px;
	margin-top:20px;
	margin-left:4px;}
.input_key{
	float:right;
	width:200px;
	line-height:30px;
	height: 30px;
	font-size: 15px;
	padding-left: 4px;
	font-family: "微软雅黑", "宋体", arial, sans-serif;
	color: #3389D4;}
/* uploads */
.scan_file{
	background: #FFF;
}